* {
	box-sizing: border-box;
}

body {
  margin: 100px auto;
  padding: 0;
  font-size: 16px;
  font-family: "Avenir Next",Helvetica,Arial,sans-serif;
  width: 800px;
}

h1 {
	font-weight: normal;
	border-bottom: 2px solid black;
	margin-bottom: 4rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}